<div>
	<span class="deletebookmark" data-id="{{id}}">&times;</span>
	<a href="#t={{bookmarkposition}}" data-position="{{bookmarkposition}}">{{bookmarkpositionvisible}}, {{bookmarkname}} {{#bookmarkflag}}<i class="fa fa-flag"></i>{{/bookmarkflag}}</a>
</div>
