<span>
	<video controls="true" width="400" preload="metadata" title="{{id}}.mp4" style="position: relative !important; width: {{width}}; height: {{height}} !important;">
		<source src="{{wwwroot}}/streaming/{{id}}.mp4" type="video/mp4">
	</video>
</span>
